/* Grnerales */

html * {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font-family:'Source Code Pro', monospace;
  padding: 0;
  margin: 0;
  background: rgb(206, 222, 206);
}

/* Principal */

.principal {
  height: 100vh;
}

.principal > * {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo > img {
  width: 100px;
  padding: 0px;
  margin: opx;
}

.cabezera {
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

li > a {
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  transition: 0.5s;
}

li a:hover {
  color: white;
}

.foto > img {
  width: 200px;
  border-radius: 50%;
}

.titulo {
  text-align: center;
  padding: 0px 20px 0px 20px;
  margin: 40px;
}

.boton {
  background: green;
  border-style: none;
  border-radius: 30px;
  padding: 18px;
}

.btex {
  /* text-align: center; */
  font-size: 18px;
  text-decoration: none;
  color: black;
 
  
  
}

.pie h3 {
 font-size: 10px;
 margin:0px;
 margin-top: 30px;

 
}